/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: arial;
    font-size: 14px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.google-logo{
    width: 272px;
}
.navi{
    display: inline-block;
    padding: 5px;
    margin: 0px 5px;
}
#top-navi{
    display: flex;
    align-items: center;
    height: 54px;
    padding: 6px;
    justify-content: space-between;
    color: rgba(0,0,0,0.87);
}
#main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-left-navi{
    display:inline-block;
    padding: 5px;
    margin: 0px 5px;
}
.top-left-navi:first-of-type{
    margin-left: 15px;
}
.top-right-navi{
    display:inline-block;
    padding: 5px;
    margin: 0px 5px;
}   
}
#search-box{

}
#search-buttons{
 
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: underline;
}
#google-logo{
}
.button{
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
#end-section{
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #f2f2f2f2;
    color:#70757a;
}
#bottom-navi{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
#location-bar{
    padding: 15px 30px;
    font-size: 15px;
    border-bottom: 1px solid #dadce0;
}
a.bottom-navi{
    padding:15px;
}
.leaf{
    margin-right: 6px;
    height: 14px;
}
a.top-right-navi{
    padding-right: 15px;
    align-items: center;
}
.gb_Xe {
    line-height:normal;
    height: 20px;
}
material-icons{
    padding: 8px;
}
.account-pic{
    border-radius: 50%;
    height: 32px;
    width: 32px;
}